<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Zombie Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>
<body>
  <div class="base">
    <div class="div">
      <div class="overlap-group">
        <div class="text-wrapper">Genius</div>
        <div class="text-wrapper-2">quiz</div>
      </div>

      <div class="overlap-group-2">
        <div class="overlap-2">
            <div class="quiz-container">
            <div id="quiz"></div>
            <div class="buttons">
                <button id="next-btn" onclick="nextQuestion()">Далі →</button>
                <button id="submit-btn" onclick="showResults()" style="display:none">Показати результат</button>
                
            </div>
            <div id="result"></div>
            <div class="home-button-container" style="text-align: center; margin-top: 20px;">
                <button id="home-btn" onclick="showHome()" style="display:none">До головної сторінки</button>
            </div>
            </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="overlap">
        <div class="element-by-valeriia">2025&nbsp;&nbsp;by Valeriia Viun</div>
      </div>
    </div>
  </div>

  <script>
    const questions = [
      {
        q: "Що ти зробиш першим, коли дізнаєшся про зомбі-апокаліпсис?",
        answers: [
          { text: "Візьму рюкзак, воду, їжу і поїду з міста", score: 3 },
          { text: "Побіжу в супермаркет за туалетним папером", score: 1 },
          { text: "Вийду подивитися, що відбувається", score: 0 },
        ]
      },
      {
        q: "Які в тебе є навички?",
        answers: [
          { text: "Маю базові навички виживання", score: 3 },
          { text: "Вмію грати в хованки", score: 1 },
          { text: "Знаю назви всіх «Італійських тварин»", score: 0 },
        ]
      },
      {
        q: "Скільки днів ти проживеш без електрики, зв’язку і магазинів?",
        answers: [
          { text: "Більше тижня — я підготований.", score: 3 },
          { text: "Може день-два, якщо пощастить.", score: 1 },
          { text: "Я вже голодний, просто читаючи це питання.", score: 0 },
        ]
      },
      {
        q: "Як ти поводишся в стресових ситуаціях?",
        answers: [
          { text: "Швидко думаю і приймаю рішення.", score: 3 },
          { text: "Не знаю, ніколи не був у стресі…", score: 1 },
          { text: "Панікую і шукаю, хто винен.", score: 0 },
        ]
      },
      {
        q: "Твоя стратегія:",
        answers: [
          { text: "Об'єднатися з іншими і побудувати укриття.", score: 3 },
          { text: "Ховатися вдома і чекати, поки все закінчиться.", score: 1 },
          { text: "Буду все знімати, бо оператори ніколи не помирають.", score: 0 },
        ]
      },
      {
        q: "Твої фізичні здібності:",
        answers: [
          { text: "У хорошій формі, бігаю, займаюсь спортом.", score: 3 },
          { text: "Можу трошки пробігти, якщо дуже треба.", score: 1 },
          { text: "Бігати? Я і ліфтом користуюсь між першим і другим.", score: 0 },
        ]
      },
      {
        q: "Твоє вміння користуватись зброєю?",
        answers: [
          { text: "Вмію цілитись та стріляти, добре володію холодною зброєю.", score: 3 },
          { text: "В теорії можу стріляти та володіти холодною зброєю.", score: 1 },
          { text: "2к годин в CS", score: 0 },
        ]
      },
      {
        q: "Твої навички надавати першу медичну допомогу?",
        answers: [
          { text: "Відвідував курси з тактичної медицини. Зберігаю рецепти від лікарів з підписаним діагнозом та симптомами.", score: 3 },
          { text: "Можу зупинити кровотечу.", score: 1 },
          { text: "Подорожник... Вата... Йод...", score: 0 },
        ]
      },
      {
        q: "Як ти взаємодієш з людьми?",
        answers: [
          { text: "Умію організовувати і працювати в команді.", score: 3 },
          { text: "Можу працювати в команді, якщо не дратують.", score: 1 },
          { text: "Я сігма.", score: 0 },
        ]
      },
      {
        q: "Твоя ідеологія виживання в зомбі-апокаліпсисі? ",
        answers: [
          { text: "CONOP 8888", score: 3 },
          { text: "Я врятую світ, як Кайл Крейн.", score: 1 },
          { text: "Я хочу жити... Бьютор Ґамп", score: 0 },
        ]
      },
      
    ];

    let currentQuestion = 0;
    let totalScore = 0;

    function loadQuestion() {
      const quiz = document.getElementById('quiz');
      quiz.innerHTML = '';
      const question = questions[currentQuestion];

      const title = document.createElement('div');
      title.className = 'question-title';
      title.textContent = question.q;
      quiz.appendChild(title);

      question.answers.forEach((answer) => {
        const div = document.createElement('div');
        div.className = 'answer';
        div.textContent = answer.text;
        div.onclick = () => selectAnswer(div, answer.score);
        quiz.appendChild(div);
      });
    }

    function selectAnswer(element, score) {
      document.querySelectorAll('.answer').forEach(el => el.classList.remove('selected'));
      element.classList.add('selected');
      element.setAttribute('data-score', score);
    }

    function nextQuestion() {
        const selected = document.querySelector('.selected');
        if (!selected) return alert('Оберіть відповідь');

        totalScore += parseInt(selected.getAttribute('data-score'));

        const quiz = document.getElementById('quiz');
        quiz.style.opacity = 1;
        quiz.style.transition = 'opacity 0.5s ease';

        // Зникнення
        quiz.style.opacity = 0;

        setTimeout(() => {
            currentQuestion++;
            if (currentQuestion < questions.length) {
            loadQuestion();
            quiz.style.opacity = 1;
            if (currentQuestion === questions.length - 1) {
                document.getElementById('next-btn').style.display = 'none';
                document.getElementById('submit-btn').style.display = 'inline-block';
            }
            }
        }, 500);
    }

function showResults() {
     const firstName = localStorage.getItem('userFirstName') || 'Користувач';
  const lastName = localStorage.getItem('userLastName') || '';

  const quiz = document.getElementById('quiz');
  quiz.style.display = 'none';
  document.getElementById('next-btn').style.display = 'none';
  document.getElementById('submit-btn').style.display = 'none';

  let resultTitle = '';
  let resultMessage = '';

  if (totalScore >= 20) {
    resultTitle = 'Ти майже герой!';
    resultMessage = 'Скоріше за все ти <strong>виживеш</strong> — у тебе холодний розум, хороша підготовка і тактика. Ти з тих, хто вийде з цього живим… або навіть створить нову цивілізацію.';
  } else if (totalScore >= 10) {
    resultTitle = '50/50';
    resultMessage = 'Шанси на <strong>виживання 50%</strong> — Можливо, тобі ще варто почитати інструкції з виживання і потренуватись трохи краще.';
  } else {
    resultTitle = 'Вітаю, ти зомбі!';
    resultMessage = 'Ти став зомбі. Думав буде легко? Ти ж не головний герой фільму…<br><em>Але є плюси:</em> тепер не потрібно перейматися роботою, кредитами і ранніми підйомами!';
  }

   const resultDiv = document.getElementById('result');
  resultDiv.innerHTML = `
    <div class="result-box">
      <h2 class="result-title">${firstName} ${lastName}, ваш результат:</h2>
      <p class="result-score">Твій результат: <strong>${totalScore}</strong> балів</p>
      <p class="result-text">${resultMessage}</p>
    </div>
  `;

  // Анімація появи
  resultDiv.style.opacity = 0;
  resultDiv.style.display = 'block';
  resultDiv.style.transition = 'opacity 1s ease';

  setTimeout(() => {
    resultDiv.style.opacity = 1;
  }, 100);
// Збереження результату на сервер
   fetch('/api/save-result', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      firstName,
      lastName,
      score: totalScore,
    }),
  });

  document.getElementById('home-btn').style.display = 'inline-block';
}
    function showHome() {
        document.getElementById('quiz').style.display = 'none';
        document.getElementById('result').style.display = 'none';
        document.getElementById('next-btn').style.display = 'none';
        document.getElementById('submit-btn').style.display = 'none';
        document.getElementById('home-btn').style.display = 'none';
        window.location.href = '/';
        
    }
    loadQuestion();
  </script>
</body>
</html>